:root {
  --border-radius: 0;
  --max-width: 1000px;
  --step--2: clamp(0.7813rem, 0.7747rem + 0.0326vw, 0.8rem);
  --step--1: clamp(0.9375rem, 0.9158rem + 0.1087vw, 1rem);
  --step-0: clamp(1.125rem, 1.0815rem + 0.2174vw, 1.25rem);
  --step-1: clamp(1.35rem, 1.2761rem + 0.3696vw, 1.5625rem);
  --step-2: clamp(1.62rem, 1.5041rem + 0.5793vw, 1.9531rem);
  --step-3: clamp(1.944rem, 1.771rem + 0.8651vw, 2.4414rem);
  --step-4: clamp(2.3328rem, 2.0827rem + 1.2504vw, 3.0518rem);
  --step-5: clamp(2.7994rem, 2.4462rem + 1.7658vw, 3.8147rem);
  --space-3xs: clamp(0.25rem, 0.2315rem + 0.0926vw, 0.3125rem);
  --space-2xs: clamp(0.5rem, 0.463rem + 0.1852vw, 0.625rem);
  --space-xs: clamp(0.75rem, 0.6944rem + 0.2778vw, 0.9375rem);
  --space-s: clamp(1rem, 0.9259rem + 0.3704vw, 1.25rem);
  --space-m: clamp(1.5rem, 1.3889rem + 0.5556vw, 1.875rem);
  --space-l: clamp(2rem, 1.8519rem + 0.7407vw, 2.5rem);
  --space-xl: clamp(3rem, 2.7778rem + 1.1111vw, 3.75rem);
  --space-2xl: clamp(4rem, 3.7037rem + 1.4815vw, 5rem);
  --space-3xl: clamp(6rem, 5.5556rem + 2.2222vw, 7.5rem);
  --clr-dark-a0: #000000;
  --clr-light-a0: #ffffff;
  --clr-primary-a0: #207bfa;
  --clr-primary-a10: #5188fb;
  --clr-primary-a20: #6f96fc;
  --clr-primary-a30: #88a4fd;
  --clr-primary-a40: #9eb3fe;
  --clr-primary-a50: #b3c2fe;
  --clr-surface-a0: #000000;
  --clr-surface-a10: #1e1e1e;
  --clr-surface-a20: #353535;
  --clr-surface-a30: #4e4e4e;
  --clr-surface-a40: #696969;
  --clr-surface-a50: #858585;
  --clr-surface-tonal-a0: #0f111b;
  --clr-surface-tonal-a10: #252730;
  --clr-surface-tonal-a20: #3c3e46;
  --clr-surface-tonal-a30: #55565e;
  --clr-surface-tonal-a40: #6f7077;
  --clr-surface-tonal-a50: #8a8b90;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: var(--step-0);
}

body {
  height: 100vh;
  width: 100vw;
  background: radial-gradient(circle farthest-corner at 50% 0%, var(--clr-surface-tonal-a0) 15%, var(--clr-surface-a0) 68%);
  background-position: 0 -100%;
  color: var(--clr-light-a0);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.tab-nav {
  display: flex;
  align-items: ceter;
  justify-content: center;
  border-bottom: 1px solid var(--clr-surface-tonal-a30);
  background-color: var(--clr-dark-a0);
}
.tab-nav .tab {
  background-color: var(--clr-surface-tonal-a0);
  width: 100%;
  max-width: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
  border-left: 1px solid var(--clr-surface-tonal-a30);
}
.tab-nav .tab:last-of-type {
  border-right: 1px solid var(--clr-surface-tonal-a30);
}
.tab-nav .tab:has(input:checked) .slider {
  color: var(--clr-light-a0);
}
.tab-nav .tab input {
  display: none;
}
.tab-nav .tab:hover {
  background: linear-gradient(to right, var(--clr-surface-tonal-a20), var(--clr-surface-tonal-a10));
}
.tab-nav .tab:hover .slider {
  color: var(--clr-light-a0);
}
.tab-nav .tab .slider {
  padding: var(--space-2xs) var(--space-xs);
  color: var(--clr-surface-tonal-a50);
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.tab-nav:has(.tab:nth-of-type(1) input:checked) ~ .tabs-container #seo-tab {
  display: flex;
}

.tab-nav:has(.tab:nth-of-type(2) input:checked) ~ .tabs-container #vlog-tab {
  display: flex;
}

.tabs-container {
  position: relative;
  height: 100%;
}
.tabs-container .tab-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  display: none;
}

.focusable {
  position: relative;
}
.focusable:after {
  content: "";
  position: absolute;
  z-index: 1;
  inset: -1px;
  border: 1px solid var(--clr-primary-a10);
  opacity: 0;
  transition: 0.1s;
  pointer-events: none;
}
.focusable:hover {
  background: linear-gradient(to right, var(--clr-surface-tonal-a20), var(--clr-surface-tonal-a10));
}
.focusable:focus:after, .focusable:focus-within:after {
  opacity: 1;
}

.inputs-container {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}
.inputs-container .input-container:not(:last-of-type) .input-frame {
  border-right: 0 solid var(--clr-surface-tonal-a30);
}

.input-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.input-container .input-frame {
  display: flex;
  border: 1px solid var(--clr-surface-tonal-a30);
  border-radius: var(--border-radius);
  transition: 0.3s;
}
.input-container input,
.input-container textarea {
  width: 100%;
  height: 100%;
  background-color: transparent;
  outline: none;
  border: none;
  color: var(--clr-light-a0);
  vertical-align: top;
  font-size: var(--step--1);
  padding: var(--space-2xs);
}
.input-container:has(.seo-input) {
  position: relative;
}
.input-container:has(.seo-input):has(input:-moz-placeholder):after {
  content: "*";
  color: var(--clr-primary-a10);
  position: absolute;
  top: 40%;
  right: var(--space-2xs);
  transform: translateY(-50%);
}
.input-container:has(.seo-input):has(input:placeholder-shown):after {
  content: "*";
  color: var(--clr-primary-a10);
  position: absolute;
  top: 40%;
  right: var(--space-2xs);
  transform: translateY(-50%);
}
.input-container textarea::-webkit-scrollbar {
  width: 10px;
}
.input-container textarea::-webkit-scrollbar-track {
  background: transparent;
}
.input-container textarea::-webkit-scrollbar-thumb {
  background: var(--clr-surface-tonal-a30);
  cursor: pointer;
}
.input-container textarea::-webkit-scrollbar-thumb:hover {
  background: var(--clr-primary-a20);
}

.client-options-container {
  display: grid;
  grid-template-columns: repeat(6, minmax(0, 1fr));
  border-bottom: 1px solid var(--clr-surface-tonal-a30);
}
.client-options-container .abbreviation-options-container {
  grid-column: 2/span 2;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}
.client-options-container .empty {
  grid-column: 4/span 2;
  border-left: 1px solid var(--clr-surface-tonal-a30);
}
.client-options-container .clear-btn {
  grid-column: 6;
  border-left: 1px solid var(--clr-surface-tonal-a30);
  border-right: 1px solid var(--clr-surface-tonal-a30);
}

.switch {
  cursor: pointer;
  border-left: 1px solid var(--clr-surface-tonal-a30);
}
.switch input {
  display: none;
}
.switch:has(.client-type-input) input:checked ~ .slider img {
  filter: invert(1);
}
.switch:has(.client-type-input) input:checked ~ .slider .logo-solo {
  display: none;
}
.switch:has(.client-type-input) input:checked ~ .slider .logo-team {
  display: block;
}
.switch:has(.client-type-input):has(input:not(:checked)):hover {
  background: linear-gradient(to right, var(--clr-surface-tonal-a20), var(--clr-surface-tonal-a10));
}
.switch:has(.client-type-input):has(input:not(:checked)):hover .slider img {
  opacity: 1;
}
.switch:has(.client-type-input):has(input:checked) {
  background-color: var(--clr-primary-a10);
}
.switch:has(.client-type-input):has(input:checked) .slider img {
  opacity: 1;
}
.switch:has(.client-type-input) .slider img {
  margin: var(--space-3xs) auto;
  -o-object-fit: contain;
     object-fit: contain;
  max-height: 25px;
  width: 100%;
  opacity: 0.6;
}
.switch:has(.client-type-input) .slider img.logo-solo {
  display: block;
}
.switch:has(.client-type-input) .slider img.logo-team {
  display: none;
}
.switch:has(.abbreviation-input) input:checked ~ .slider {
  background-color: var(--clr-primary-a10);
}
.switch:has(.abbreviation-input) input:checked ~ .slider > div {
  color: var(--clr-dark-a0);
}
.switch:has(.abbreviation-input):hover {
  background: linear-gradient(to right, var(--clr-surface-tonal-a20), var(--clr-surface-tonal-a10));
}
.switch:has(.abbreviation-input):hover .slider > div {
  color: var(--clr-light-a0);
}
.switch:has(.abbreviation-input) .slider {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.switch:has(.abbreviation-input) .slider > div {
  color: var(--clr-surface-tonal-a50);
  font-size: var(--step--2);
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

button {
  cursor: pointer;
  outline: none;
  background: none;
  border: none;
}
button > div {
  color: var(--clr-surface-tonal-a50);
  font-size: var(--step--2);
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
button:not(:last-of-type) {
  border-right: 0 solid var(--clr-surface-tonal-a30);
}
button:hover > div {
  color: var(--clr-light-a0);
}

.character-counter-container {
  display: grid;
  grid-template-columns: repeat(6, minmax(0, 1fr));
  grid-template-rows: min-content 1fr;
}
.character-counter-container .character-count-container {
  overflow: hidden;
  grid-column: 1/span 2;
  color: var(--clr-surface-tonal-a50);
  font-size: var(--step--1);
  border-left: 1px solid var(--clr-surface-tonal-a30);
  padding: var(--space-2xs);
}
.character-counter-container .character-count-container .text-area-character-count {
  color: var(--clr-primary-a40);
  font-size: var(--step--1);
}
.character-counter-container button {
  border-left: 1px solid var(--clr-surface-tonal-a30);
}
.character-counter-container button:last-of-type {
  border-right: 1px solid var(--clr-surface-tonal-a30);
}
.character-counter-container .input-container {
  grid-column: span 6;
}
.character-counter-container .input-container .input-frame textarea {
  resize: vertical;
  height: 16px;
  min-height: calc(var(--step--1) + 28px);
}

.search-bar-container .input-container .input-frame {
  border-top: 0 solid var(--clr-surface-tonal-a30);
}

.tables-and-search-container {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: min-content 1fr;
  margin: 0 auto;
  position: relative;
}
.tables-and-search-container.hide-after:after {
  opacity: 0;
}
.tables-and-search-container:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20%;
  background: linear-gradient(to top, var(--clr-surface-a0), transparent);
  opacity: 0.7;
  z-index: 1;
  transition: 0.3s;
  pointer-events: none;
}

.right-side-nav {
  padding: var(--space-m) var(--space-s);
}
.right-side-nav .rsn-sub-container {
  max-width: var(--max-width);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.seo-tables-container {
  padding: var(--space-m) calc(var(--space-s) - 10px) var(--space-m) calc(var(--space-s));
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-m);
  height: 100%;
  width: 100%;
  overflow-y: auto;
}
.seo-tables-container::-webkit-scrollbar {
  width: 10px;
}
.seo-tables-container::-webkit-scrollbar-track {
  background: transparent;
}
.seo-tables-container::-webkit-scrollbar-thumb {
  background: var(--clr-surface-tonal-a30);
  cursor: pointer;
}
.seo-tables-container::-webkit-scrollbar-thumb:hover {
  background: var(--clr-primary-a20);
}

.table {
  background-color: var(--clr-surface-tonal-a10);
  position: relative;
  width: 100%;
  max-width: var(--max-width);
  border-radius: var(--border-radius);
}
.table:before {
  content: "";
  position: absolute;
  inset: -1px;
  background: linear-gradient(-170deg, var(--clr-primary-a50) 30%, var(--clr-surface-tonal-a20));
  opacity: 0.6;
  border-radius: var(--border-radius);
  z-index: -1;
}
.table .row:not(:last-of-type) {
  border-bottom: 1px solid var(--clr-surface-tonal-a30);
}
.table .row:has(h3) {
  padding: var(--space-xs);
  text-align: left;
  border: none;
}
.table .row:has(h3) h3 {
  font-size: var(--step-0);
}
.table .row.seo-title-container {
  display: grid;
  grid-template-columns: min-content 1fr;
}
.table .row .seo-length {
  padding: var(--space-xs);
  display: flex;
  align-items: center;
  justify-content: center;
}
.table .row .seo-length.goods {
  background-color: var(--clr-primary-a10);
  color: var(--clr-dark-a0);
}
.table .row .seo-title {
  padding: var(--space-xs);
  width: 100%;
  border-left: 1px solid var(--clr-surface-tonal-a20);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.table .row .seo-title svg {
  min-width: 24px;
  min-height: 24px;
}
.table .row .seo-title:hover {
  cursor: pointer;
  background: linear-gradient(to right, var(--clr-surface-tonal-a20) 70%, var(--clr-surface-tonal-a10));
}
.table .row .seo-title:hover .notification {
  opacity: 1;
}
.table .row .seo-title .notification {
  pointer-events: none;
  position: fixed;
  z-index: 10;
  padding: var(--space-3xs) var(--space-2xs);
  background-color: var(--clr-primary-a20);
  color: var(--clr-dark-a0);
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translate(20%, 40%);
  opacity: 0;
}
.table .row .seo-title .notification.fade-away {
  background-color: var(--clr-primary-a0);
  animation: fadeAway 0.3s 0.3s ease-in-out forwards;
}

@keyframes fadeAway {
  from {
    transform: translate(20%, 40%);
  }
  to {
    transform: translate(20%, 0);
    opacity: 0;
  }
}
#vlog-tab {
  flex-direction: column;
}
#vlog-tab.hide-after:after {
  opacity: 0;
}
#vlog-tab:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20%;
  background: linear-gradient(to top, var(--clr-surface-a0), transparent);
  opacity: 0.7;
  z-index: 1;
  transition: 0.3s;
  pointer-events: none;
}

.vlog-tab-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--space-m) var(--space-s);
}
.vlog-tab-nav form {
  width: 100%;
  max-width: var(--max-width);
  display: grid;
  grid-template-columns: minmax(0, 2.5fr) minmax(0, 1fr) min-content;
  border-top: 1px solid var(--clr-surface-tonal-a30);
  border-bottom: 1px solid var(--clr-surface-tonal-a30);
}
.vlog-tab-nav form input {
  width: 100%;
  height: 100%;
  background-color: transparent;
  outline: none;
  border: none;
  color: var(--clr-light-a0);
  vertical-align: top;
  font-size: var(--step--1);
  padding: var(--space-2xs);
  border-left: 1px solid var(--clr-surface-tonal-a30);
}
.vlog-tab-nav form input[type=number]::-webkit-outer-spin-button,
.vlog-tab-nav form input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
          appearance: none;
}
.vlog-tab-nav form button {
  border-left: 1px solid var(--clr-surface-tonal-a30);
  border-right: 1px solid var(--clr-surface-tonal-a30);
  padding: var(--space-3xs) var(--space-s);
}
.vlog-tab-nav .image_btns_container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: var(--max-width);
}
.vlog-tab-nav .image_btns_container .image_batch_download_button,
.vlog-tab-nav .image_btns_container .image_select_all_button {
  color: var(--clr-surface-tonal-a50);
  font-size: var(--step--2);
  white-space: nowrap;
  text-overflow: ellipsis;
  border-left: 1px solid var(--clr-surface-tonal-a30);
  border-right: 1px solid var(--clr-surface-tonal-a30);
  border-bottom: 1px solid var(--clr-surface-tonal-a30);
  padding: var(--space-xs) var(--space-s);
}
.vlog-tab-nav .image_btns_container .image_batch_download_button {
  display: none;
}
.vlog-tab-nav .image_btns_container .image_batch_download_button.active {
  display: initial;
}
.videos_container {
  height: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-m);
  padding: var(--space-m) calc(var(--space-s) - 10px) var(--space-m) calc(var(--space-s));
}
.videos_container::-webkit-scrollbar {
  width: 10px;
}
.videos_container::-webkit-scrollbar-track {
  background: transparent;
}
.videos_container::-webkit-scrollbar-thumb {
  background: var(--clr-surface-tonal-a30);
  cursor: pointer;
}
.videos_container::-webkit-scrollbar-thumb:hover {
  background: var(--clr-primary-a20);
}

.video_container {
  background-color: var(--clr-surface-tonal-a10);
  position: relative;
  width: 100%;
  max-width: var(--max-width);
  border-radius: var(--border-radius);
  display: grid;
  grid-template-columns: 1fr clamp(100px, 25vw, 325px);
  grid-template-rows: repeat(2, min-content);
  grid-template-areas: "title image" "link image";
}
@media (max-width: 768px) {
  .video_container {
    grid-template-columns: 1fr;
    grid-template-rows: unset;
    grid-template-areas: "image" "title" "link";
  }
}
.video_container:before {
  content: "";
  position: absolute;
  pointer-events: none;
  inset: -1px;
  background: linear-gradient(-170deg, var(--clr-primary-a50) 30%, var(--clr-surface-tonal-a20));
  opacity: 0.6;
  border-radius: var(--border-radius);
  z-index: -1;
}
.video_container .to_dl_checkbox {
  cursor: pointer;
  position: absolute;
  top: var(--space-xs);
  right: var(--space-xs);
  z-index: 1;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  outline: none;
  width: 20px;
  height: 20px;
  background-color: var(--clr-light-a0);
  cursor: pointer;
}
.video_container .to_dl_checkbox:checked {
  background-color: var(--clr-primary-a0);
}
.video_container .to_dl_checkbox:checked:after {
  content: "";
  position: absolute;
  left: 7px;
  top: 0;
  width: 4px;
  height: 14px;
  border: solid var(--clr-light-a0);
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
.video_container .download_image_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 10;
  bottom: var(--space-xs);
  right: var(--space-xs);
  background-color: var(--clr-light-a0);
  border: 1px solid var(--clr-light-a0);
  transition: 0.1s;
}
.video_container .download_image_btn svg {
  width: 30px;
  fill: var(--clr-dark-a0);
}
.video_container .download_image_btn:hover {
  background-color: transparent;
}
.video_container .download_image_btn:hover svg {
  width: 30px;
  fill: var(--clr-light-a0);
}
.video_container .video_title_container,
.video_container .video_embed_url_container {
  padding: var(--space-xs);
  display: flex;
  align-items: center;
  word-break: break-word;
  overflow-wrap: anywhere;
  position: relative;
}
.video_container .video_title_container:hover,
.video_container .video_embed_url_container:hover {
  cursor: pointer;
  background: linear-gradient(to right, var(--clr-surface-tonal-a20) 70%, var(--clr-surface-tonal-a10));
}
.video_container .video_title_container:hover .notification,
.video_container .video_embed_url_container:hover .notification {
  opacity: 1;
}
.video_container .video_title_container .notification,
.video_container .video_embed_url_container .notification {
  pointer-events: none;
  position: fixed;
  z-index: 10;
  padding: var(--space-3xs) var(--space-2xs);
  background-color: var(--clr-primary-a20);
  color: var(--clr-dark-a0);
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translate(20%, 40%);
  opacity: 0;
}
.video_container .video_title_container .notification.fade-away,
.video_container .video_embed_url_container .notification.fade-away {
  background-color: var(--clr-primary-a0);
  animation: fadeAway 0.3s 0.3s ease-in-out forwards;
}
.video_container .video_title_container {
  grid-area: title;
  border-bottom: 1px solid var(--clr-surface-tonal-a20);
}
.video_container .video_title_container h3 {
  pointer-events: none;
}
.video_container .video_embed_url_container {
  grid-area: link;
}
.video_container .video_embed_url_container div {
  font-size: var(--step--1);
  pointer-events: none;
}
.video_container .video_embed_url_container div span {
  font-size: var(--step--1);
  color: var(--clr-surface-tonal-a30);
}
.video_container .video_embed_url_container iframe {
  width: 100%;
  aspect-ratio: 16/9;
}
.video_container .video_thumbnail_container {
  grid-area: image;
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 350px;
  position: relative;
}
.video_container .video_thumbnail_container img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.video_container .video_thumbnail_container:after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background: radial-gradient(at right bottom, var(--clr-dark-a0), transparent);
  opacity: 0.3;
  pointer-events: none;
}

#load_more {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
  background-color: var(--clr-light-a0);
  border-radius: 100%;
  bottom: var(--space-m);
  right: var(--space-l);
  transition: 0.1s;
}
#load_more svg {
  height: 50px;
  width: 50px;
}
#load_more svg path {
  transition: 0.1s;
  fill: var(--clr-dark-a0);
}
#load_more:hover {
  background-color: transparent;
}
#load_more:hover path {
  fill: var(--clr-light-a0);
}
#load_more:active {
  transform: scale(0.9);
}
#load_more.hidden {
  display: none;
  pointer-events: none;
}/*# sourceMappingURL=styles.css.map */