<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../static/css/styles.css">

    <link rel="shortcut icon" href="../static/resources/favicon.jpg" type="image/x-icon">
    <title>SEO Tool</title>
</head>

<body>
    <div class="tab-nav">
        <label class="tab">
            <input class="tool-type-input" name="tool-type-input" type="radio">
            <div class="slider">
                SEO Tool
            </div>
        </label>
        <label class="tab">
            <input class="tool-type-input" name="tool-type-input" type="radio" checked>
            <div class="slider">
                Vlog Tool
            </div>
        </label>
    </div>
    <div class="tabs-container">
        <div id="seo-tab" class="tab-container">
            <div class="tables-and-search-container">
                <div class="right-side-nav">
                    <div class="rsn-sub-container">
                        <div class="inputs-container">
                            <div class="input-container">
                                <div class="input-frame focusable">
                                    <input class="seo-input" type="text" id="name" placeholder="Name">
                                </div>
                            </div>
                            <div class="input-container">
                                <div class="input-frame focusable">
                                    <input class="seo-input" type="text" id="location" placeholder="Location">
                                </div>
                            </div>
                            <div class="input-container">
                                <div class="input-frame focusable">
                                    <input class="seo-input" type="text" id="state" placeholder="State">
                                </div>
                            </div>
                        </div>
                        <div class="client-options-container">
                            <label class="switch">
                                <input class="client-type-input" type="checkbox">
                                <div class="slider">
                                    <img class="logo-solo" src="../static/resources/solo.png">
                                    <img class="logo-team" src="../static/resources/team.png">
                                </div>
                            </label>
                            <div class="abbreviation-options-container">
                                <label class="switch focusable">
                                    <input class="abbreviation-input" type="checkbox">
                                    <div class="slider">
                                        <div>Abbr. State</div>
                                    </div>
                                </label>
                                <label class="switch focusable">
                                    <input class="abbreviation-input" type="checkbox">
                                    <div class="slider">
                                        <div>Abbr. Real Estate</div>
                                    </div>
                                </label>
                            </div>
                            <div class="empty"></div>
                            <button class="clear-btn focusable">
                                <div>Clear</div>
                            </button>
                        </div>
                        <div class="character-counter-container">
                            <div class="character-count-container">
                                Character Count
                                <span class="text-area-character-count">0</span>
                            </div>
                            <button class="case-btn focusable">
                                <div>lower case</div>
                            </button>
                            <button class="case-btn focusable">
                                <div>UPPER CASE</div>
                            </button>
                            <button class="case-btn focusable">
                                <div>Sentence case</div>
                            </button>
                            <button class="case-btn focusable">
                                <div>Title Case</div>
                            </button>
                            <div class="input-container">
                                <div class="input-frame focusable">
                                    <textarea class="character-counter" id="character-counter"
                                        placeholder="Text here..."></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="search-bar-container">
                            <div class="input-container">
                                <div class="input-frame focusable">
                                    <input class="search-input" type="text" id="search" placeholder="Search">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="seo-tables-container"></div>
            </div>
        </div>
        <div id="vlog-tab" class="tab-container">
            <div class="vlog-tab-nav">
                <form id="channel_form">
                    <div class="input-frame focusable">
                        <input type="text" id="youtube_url" placeholder="Youtube URL" required>
                    </div>
                    <div class="input-frame focusable">
                        <input type="number" id="batch_size_input" placeholder="Videos per load" min="1" value="6">
                    </div>
                    <button type="submit" class="focusable">
                        <div>Submit</div>
                    </button>
                </form>
                <div class="image_btns_container">
                    <button class="image_select_all_button focusable">Select All</button>
                    <button class="image_batch_download_button focusable">Download () Thumbnail(s)</button>
                </div>
            </div>

            <div class="videos_container">

            </div>

            <button id="load_more" class="hidden"><svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                    viewBox="0 0 50 50">
                    <path
                        d="M 25 2 C 12.309295 2 2 12.309295 2 25 C 2 37.690705 12.309295 48 25 48 C 37.690705 48 48 37.690705 48 25 C 48 12.309295 37.690705 2 25 2 z M 25 4 C 36.609824 4 46 13.390176 46 25 C 46 36.609824 36.609824 46 25 46 C 13.390176 46 4 36.609824 4 25 C 4 13.390176 13.390176 4 25 4 z M 24 13 L 24 24 L 13 24 L 13 26 L 24 26 L 24 37 L 26 37 L 26 26 L 37 26 L 37 24 L 26 24 L 26 13 L 24 13 z">
                    </path>
                </svg></button>
        </div>
    </div>

    <button onclick="clear_cache()">Clear Cache</button>
</body>

<script src="../static/js/seo.js"></script>
<script src="../static/js/yt.js"></script>
<script src="../static/js/styles.js"></script>

</html>